body{
    font-family: gotham;
    color: rgb(49, 2, 49);
}
@font-face {
    font-family: gothambold;
    src: url(fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: gotham;
    src: url(fonts/GothamPro.ttf);
}
@font-face {
    font-family: gothamitalic;
    src: url(fonts/GothamPro-Italic.ttf);
}
#logo{
    width: 3%;
}
.title{
    text-align: center;
    font-family: gotham;
    color: rgb(49, 2, 49);
}
.options{
    display:flex;
    gap: 2%;
    margin-left: 25%;    
}

.options li{
    list-style: none;
    display: inline;  
} 
a{
  text-decoration: none;
  color: rgb(49, 2, 49);
}
.options a:hover {
    color: rgb(193, 4, 187);
  }
  .options a.active {
    color: rgb(187, 63, 183);
  }
  #noah{
    width: 100%;
    height: 610px;
    filter: brightness(50%);
  }
  .bnc_title{
    color:rgb(246, 216, 245);
    position: absolute;
    font-family: gothambold;
    font-size: 30px;
    width:60% ;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blog{
    background-color: rgb(246, 216, 245);
    border: solid 3px rgb(49, 2, 49);
    border-radius: 10px;
    padding: 2%;
    width: 70%;
    margin: auto;
    margin-top: 4%;
}
.my_title{
    display: flex;
    gap: 2%;
}
.my_title img{
    width: 35%;
    border-radius: 10px;
}
.words{
    width: 50%;
}
.reflections{
    text-align: center;
}
.fa-quote-left{
    margin-right: 80%;
}
.quote{
    font-family: gothamitalic;
}
.fa-quote-right{
    margin-left: 80%;
}
  .subscribe{
    background-color: rgb(49, 2, 49);
    color: rgb(246, 216, 245);
    border-radius: 12px;
    padding: 3%;
    width: 80%;
    margin-top: 5%;
    margin-left: 3%;
}
#email{
    width: 40%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
}
.btn{
    width: 20%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: rgb(193, 4, 187);
    color: rgb(246, 216, 245);
}
.foot{
    margin-top: 3%;
}
#copyright{
    text-align: center;
}
.socials{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width:350px){
    body {
        margin: 0;
        width: 100%;
        font-family: gotham;
        padding: 0;
        position: relative;
        height: 100%; 
    }
    }
    @media screen and (min-width: 351px) and (max-width: 580px){
        body {
            margin: 0;
            width: 100%;
            padding: 0;
            font-family: gotham;
            position: relative;
            height: 100%; 
            overflow-x: hidden;
        }
        h1 {
            font-size: 1rem;
          }
        }
    
    @media screen and (min-width: 581px) and (max-width: 740px){
        body {
            margin: 0;
            width: 100%;
            padding: 0;
            font-family: gotham;
            position: relative;
            height: 100%; 
        }
        h1 {
            font-size: 1.5rem;
          }
        }
    @media screen and (min-width: 741px) and (max-width: 1040px){
        body {
            margin: 0;
            width: 100%;
            padding: 0;
            font-family: gotham;
            position: relative;
            height: 100%; 
        }
        h1 {
            font-size: 2rem;
          }
        }
    @media screen and  (min-width: 1041px) {
        body {
            margin: 0;
            width: 100%;
            padding: 0;
            font-family: gotham;
            position: relative;
            height: 100%; 
        }
        } 
    