.tittle{
    text-align: center;
    color: rgb(221, 19, 19);
}
.book-name{
    color: rgb(221, 19, 19); 
    
}
.blog{
    text-align: center;
    color: rgb(221, 19, 19); 
}
.abel{
    text-align: center;
    color: rgb(221, 19, 19);    
}
.body{
    font-size: 10px;
}
#flower{
 gap: 50px;
 width: 400px;
 border-radius: 20px;
 margin-left: 35%;
 margin-top: 4%;
}
#flat-flower{
    margin-left: 1100px;
    width: 100px;
}
#flat-flower1{
    width: 100px;
    /* margin-left: 1100px; */
}
#book-image{
    /* background-image: url(images/images.jpeg); */

    /* background-repeat: no-repeat; */
    width:0px;
    height: 300px;
    left: 80px;
}
.intoduction{
    display: flex;
    gap: 40px;
    font-size: 10px;
   

}
#image{
    width: 80%;
    
    
}
.flags{
width: 100px;
display: flex;
gap: 200px;
/* margin-left: 300px; */
}
body{
    font-family: gotham;
    color: rgb(49, 2, 49);
}
@font-face {
    font-family: gothambold;
    src: url(fonts/GothamPro-Bold.ttf);
}
@font-face {
    font-family: gotham;
    src: url(fonts/GothamPro.ttf);
}
#logo{
    width: 3%;
}
.title{
    text-align: center;
    font-family: gotham;
    color: rgb(49, 2, 49);
}
.options{
    display:flex;
    gap: 2%;
    margin-left: 25%;
}
.options li{
    list-style: none;
    display: inline;
}
a{
  text-decoration: none;
  color: rgb(49, 2, 49);
}
.options a:hover {
    color: rgb(193, 4, 187);
  }
  .options a.active {
    color: rgb(187, 63, 183);
  }

.subscribe{
    background-color: rgb(49, 2, 49);
    color: rgb(246, 216, 245);
    border-radius: 12px;
    padding: 3%;
    width: 80%;
    margin-top: 5%;
    margin-left: 3%;
}
#email{
    width: 40%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
}
.btn{
    width: 20%;
    padding: 2%;
    background-color: rgb(246, 216, 245);
    transition-duration: 0.4s;
}
.btn:hover{
    background-color: rgb(193, 4, 187);
    color: rgb(246, 216, 245);
}
.foot{
    margin-top: 3%;
}
#copyright{
    text-align: center;
}
.socials{
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
}




@media(max-width:500px){
   .body{
    overflow-x: hidden;
   }
    #book-image{
        margin-right: 0px;
        width: 100%;
        text-align: justify;
    } 
    .book-name{
        text-align: justify;
        width: 100%;margin-left: 1100px;
    }
    .intoduction{
        display: flow-root;
        gap: 40px;
        font-size: 10px;
        }
        #image{
            height: 100%;
            width: 100%;
        }
        #flower{
            width: 100%;
        }
        #flat-flower1{
            margin-right: 200%;
        }
        .flags{
           display: flow-root; 
           width: 100%;
           text-align: justify;
        }
        .treveor{
            width: 100%;
            height: 70%;
        }
        body {
            margin: 0;
            width: 100%;
            padding: 0;
            font-family: gotham;
            position: relative;
            height: 100%;
            overflow-x: hidden;
        }
      
}


@media(min-width:501px){
    .body{
        font-size: 20px;
    }
    .tittle{
        text-align: center;
        color: rgb(221, 19, 19);
    }
    .book-name{
        
        color: rgb(221, 19, 19); 
        
    }
    .blog{
        text-align: center;
        color: rgb(221, 19, 19); 
    }
    .abel{
        text-align: center;
        color: rgb(221, 19, 19);    
    }
    #book-image{
        width: 100%;
    }
       
   
    .flags{
        
        width: 100px;
        display: flex;
    }
    .star-images{
       display: flex; 
    }
    .intoduction{
        font-size: 20px;
        display: flex;

    }
    #image{
        width: 100%; 
    }
    /* .treveor{
        width: 200px;
    } */
    body {
        margin: 0;
        width: 100%;
        padding: 0;
        font-family: gotham;
        position: relative;
        height: 100%;
    }

}